/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*------------------------------------------------end reset sheet------------------------------------*/
/*--------my code begins--------*/
/*-------------------------------------------------------------------------------*/
/*-----------------------------------------------header--------------------------*/
/*-------------------------------------------------------------------------------*/
.index-header{
    background-color:white;
    width:100%;
    padding:auto;
    margin-top:50px;
}

.header-logo-title{
    width:420px;
    margin:10px 5%;
    float:left;
}
.header-logo-title img{
    border:1px solid black;
    border-radius:25%;
    float:left;
    color:steelblue;
}
.header-logo-title h1{
    color:black;
    float:right;
    font-size:45px;
    margin:3% auto;
    font-weight:bold;
}

.header-nav{
    width:400px;
    float:right;
    margin:2% 10%;
    text-align:center;
}

.header-nav a{
    color:steelblue;
    font-size:26px;
    margin:20px;
    font-weight:bold;
    border:2px solid white;
}

.header-nav a:hover{
    border:2px solid steelblue;
    border-radius:15%;
}
/*-------------------------------------------------------------------------------*/
/*-----------------------------------------Index-Body----------------------------*/
/*-------------------------------------------------------------------------------*/

.index-body{
    background-image:url(../img/musicvideo2.png);
    min-height:100%;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    background-size:cover;
}

.index-picture-article{    
    width:100%;
    height:300px;
    padding:30px 0px;
    /*background-image:url(../img/musicvideo2.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;*/
}

.article-wrapper{
    width:90%;
    margin:0 auto;
    padding:0px;
    text-align:center;    
}

.index-picture-article h1{
    font-size:40px;
    width:100%;
    color:white;
    margin-top:100px;
}

.index-picture-article p{
    font-size:24px;
    color:white;
    font-weight:bold;
    width:100%;
}

.index-white-article{
    background-color:white;
    width:100%;
    padding:5% 0;
}

.blog-container{
    width:70%;
    margin:auto;
}

.blog-wrapper{
    width:70%;
    float:left;    
}

.blog-sidebar{
    text-align:center;
    width:20%;
    float:right;    
    border-left: 1px solid steelblue;
    border-left-width:thin;
}

.sidebar-topic{
    width:100%;
    text-decoration:underline;
    text-decoration-color:white;
}

.sidebar-topic:hover{
    font-weight:bold;
    text-decoration-color:steelblue;
    color:steelblue;
}

.post-image-snip {
    width:12%;
    border:1px solid steelblue;
    border-radius:15%;
    float:left;
    margin:5px;
}

.date-paragraph{
    margin-bottom:5px;
    color:steelblue;
    font-size:14px;
}

.post-link{
    color:blue;
}

.post-title-snip{
    font-size:24px;
    color:black;
}

/*-------------------------------------------------------------------------------*/
/*-----------------------------------------About-Body----------------------------*/
/*-------------------------------------------------------------------------------*/

.about-white-article{
    background-image:url(../img/aboutBackground.png);
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;
}

.about-article-wrapper{
    width:70%;
    margin:auto;
    padding:50px;
}
.about-article-wrapper img{
    width:15%;
    float:left;
    border: 2px solid white;
    border-radius:25%;
    margin:10px;
}

.article-title{
    font-size:32px;
    color:white;
    text-align:left;
}

.about-title{
    width:80%;
    color:white;
    margin:auto;
    font-size:60px;
}

.about-article-wrapper p{
    font-size:16px;
    width:80%;
    color:white;
}

.tamara{
    color:white;
    text-decoration:underline;
}

/*-------------------------------------------------------------------------------*/
/*---------------------------------------Contact-Body----------------------------*/
/*-------------------------------------------------------------------------------*/
.contact-white-article{
    background-color:white;
    width:100%;
    padding:5% 0;
}

.contact-article-wrapper{
    width:70%;
    margin:auto;
    padding:50px;
}

/*-------------------------------------------------------------------------------*/
/*---------------------------------------------Footer----------------------------*/
/*-------------------------------------------------------------------------------*/
footer{
    width:100%;    
    background-color:#888888;
    padding:30px 0;
    margin-bottom:50px;
}

.footer-nav{
    width:80%;
    margin:auto;
}

.footer-nav table{
    width:100%;
}

.footer-nav table th{
    color:white;
    text-align:left;
}

.footer-nav table td{
    color:white;
    text-align:left;  
    vertical-align:center;
}

.footer-nav table td ul li{
    width:100%;
    list-style:none;
}

.copyright{
    width:100%;
    color:white;
    text-align:center;
}

/*-------------------------------------------------------------------------------*/
/*-----------------------------------------------Misc----------------------------*/
/*-------------------------------------------------------------------------------*/
a{
    text-decoration:none;
}

.clear{
    clear:both;
    line-height:0;
}